*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif !important;
}

label {
    color: rgb(68, 68, 68);
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}

input {
    border-radius: 4px;
    height: 40px;
}

input::placeholder{
    color: rgb(148, 148, 148);
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

input:focus {
    border: 2px solid #41a5bb;
    outline: none !important;
    box-shadow: none !important;
}

.invalid span{
    color: #dc3545;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}